<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <modules>
    <module assemblyFile="CalculatorCommandParsingLibrary.dll" 
            moduleType="Application.CalculatorCommandParsingModule, CalculatorCommandParsingLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
            moduleName="Parsing" />
    <module assemblyFile="CalculatorLibrary.dll"
            moduleType="Application.CalculatorModule, CalculatorLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="Calculator" />
    <module assemblyFile="InputOutputLibrary.dll"
            moduleType="Application.InputOutputModule, InputOutputLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="InputOutput" />
    <module assemblyFile="MainModuleLibrary.dll"
            moduleType="Application.MainModule, MainModuleLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="Main">
      <dependencies>
        <dependency moduleName="Calculator" />
        <dependency moduleName="Parsing" />
        <dependency moduleName="InputOutput" />
      </dependencies>
    </module>
  </modules>
</configuration>