<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <unity>
    <container>
      <register type="Application.ICalculatorReplLoop, InterfacesLibrary" mapTo="Application.CalculatorReplLoop, CalculatorLibrary" />
      <register type="Application.ICalculator, InterfacesLibrary" mapTo="Application.Calculator, CalculatorLibrary" />
      <register type="Application.IInputService, InterfacesLibrary" mapTo="Application.ConsoleInputService, InputOutputLibrary" />
      <register type="Application.IOutputService, InterfacesLibrary" mapTo="Application.ConsoleOutputService, InputOutputLibrary" />
      <register type="Application.IInputParserService, InterfacesLibrary" mapTo="Application.InputParserService, CalculatorCommandParsingLibrary" />
    </container>
  </unity>
</configuration>