<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>

  <modules>
    <module assemblyFile="ModuleAProject.dll"
            moduleType="ModuleAProject.ModuleA, ModuleAProject, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="ModuleA" />
    <module assemblyFile="ModuleBProject.dll"
            moduleType="ModuleBProject.ModuleB, ModuleBProject, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="ModuleB">
      <dependencies>
        <dependency moduleName="ModuleA" />
      </dependencies>
    </module>
    <module assemblyFile="MyWpfApplication.exe"
            moduleType="MyWpfApplication.MainModule, MyWpfApplication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="Main">
      <dependencies>
        <dependency moduleName="ModuleB" />
      </dependencies>
    </module>
  </modules>
</configuration>