<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  <modules>
    <module assemblyFile="EmailService.dll"
            moduleType="EmailService.ModuleDefinitions.Module, EmailService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="EmailModule" />
    <module assemblyFile="MailSelectionUI.dll"
            moduleType="MailSelectionUI.ModuleDefinitions.Module, MailSelectionUI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="MailSelectionUI">
      <dependencies>
        <dependency moduleName="EmailModule" />
      </dependencies>
    </module>
    <module assemblyFile="MailListUI.dll"
            moduleType="MailListUI.ModuleDefinitions.Module, MailListUI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="MailListUI">
      <dependencies>
        <dependency moduleName="EmailModule" />
      </dependencies>
    </module>
    <module assemblyFile="MailReadingUI.dll"
            moduleType="MailReadingUI.ModuleDefinitions.Module, MailReadingUI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="MailReadingUI">
      <dependencies>
        <dependency moduleName="EmailModule" />
      </dependencies>
    </module>
    <module assemblyFile="ViewInjectionImplementation.dll"
            moduleType="ViewInjectionImplementation.ModuleDefinitions.Module, ViewInjectionImplementation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="ViewInjectionImplementation" />
    <module assemblyFile="NewMailUI.dll"
            moduleType="NewMailUI.ModuleDefinitions.Module, NewMailUI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="NewMailUI">
      <dependencies>
        <dependency moduleName="ViewInjectionImplementation" />
      </dependencies>
    </module>
  </modules>
</configuration>